---
import ContentSection from "~/components/content-section.astro";
import ContactForm from "~/components/contact-form.astro";
import { Icon } from 'astro-icon';
---

<ContentSection title="Contact" id="contact">
  <Fragment slot="lead">
    At <span class="text-primary">Rotko Networks</span>, we're dedicated to
    delivering top-notch support for all your web hosting needs.
    Whether you have questions, comments, or concerns, please don't hesitate <span
    class="text-primary">to reach out to us</span
    >. Our team of experts is here to help you every step of the way!
  </Fragment>
  <div class="w-full mt-8 md:max-w-3xl mx-auto flex flex-col md:flex-row gap-6">
    <div class="rounded-lg bg-teal-300 bg-opacity-95 p-6 shadow-lg lg:p-12 flex-1">
      <h3 class="mb-2 font-bold text-lg text-gray-900 p-2">Tallinn Headquarters</h3>
      <ul class="mb-2 list-none text-gray-800">
        <li class="mb-2 flex items-center">
          <Icon name="mdi:office-building" class="w-4 mr-2" />
          ROTKO NETWORKS OÜ
        </li>
        <li class="flex items-center">
          <Icon name="mdi:map-marker" class="w-4 mr-2" />
          Akadeemia tee 21-4
        </li>
        <li class="flex items-center">
          <Icon name="mdi:city" class="w-4 mr-2" />
          Tallinn, 12618
        </li>
        <li class="flex items-center">
          <Icon name="mdi:flag" class="w-4 mr-2" />
          Estonia
        </li>
        <li class="flex items-center">
          <Icon name="mdi:card-account-details-outline" class="w-4 mr-2" />
          EE102746712
        </li>
      </ul>
    </div>
    <div class="rounded-lg bg-teal-300 bg-opacity-95 p-6 shadow-lg flex-1">
      <ContactForm />
    </div>
  </div>
</ContentSection>
