---
import ContentSection from "~/components/content-section.astro";
import ContactForm from "~/components/contact-form.astro";
---

<ContentSection title="Contact" id="contact">
  <Fragment slot="lead">
    At <span class="text-primary">Rotko Networks</span>, we're committed to
    providing the best possible support for all your Web3 needs. If you have any
    questions, comments, or concerns, please don't hesitate <span
      class="text-primary">to reach out to us</span
    >. We're here to help!
  </Fragment>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
    <div class="rounded-lg bg-blue-200 p-6 shadow-lg lg:p-12">
      <h3 class="mb-2 font-bold text-lg">Tallinn Office</h3>
      <!-- hide points in li -->
      <ul class="mb-2 list-none text-gray-800">
        <li class="mb-2">Rotko Networks OU</li>
        <li>Akadeemia tee 21-4</li>
        <li>Tallinn, 12618</li>
        <li>Estonia</li>
      </ul>
    </div>
    <div>
      <div class="rounded-lg bg-blue-200 p-6 shadow-lg">
        <ContactForm />
      </div>
    </div>
  </div>
</ContentSection>
