---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Contact" id="contact">
  <Fragment slot="lead">
    At <span class="text-primary">Rotko Networks</span>, we're committed to
    providing the best possible support for all your Web3 needs. If you have any
    questions, comments, or concerns, please don't hesitate <span
      class="text-primary">to reach out to us</span
    >. We're here to help!
  </Fragment>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
    <div class="rounded-lg bg-white p-6 shadow-lg">
      <h3 class="mb-2 font-bold text-lg">Tallinn Office</h3>
      <ul class="mb-2 list-inside list-disc">
        <li class="mb-2 text-gray-600">Rotko Networks OU</li>
        <li class="mb-2 text-gray-600">
          Address: Akadeemia tee 21-4, 12618 Tallinn, Estonia
        </li>
        <li class="text-gray-600">Email: tommi@rotko.net</li>
      </ul>
    </div>
  </div>
</ContentSection>
