---
export interface Props {
  id: string;
  title: string;
  class?: string;
}

const { title, id, class: additionalClass } = Astro.props;
---

<section
  id={id}
  class={`flex flex-col items-center gap-4 px-8 py-24 ${additionalClass}`}
>
  <div class="flex flex-col items-center gap-4">
    <slot name="eyebrow" />
    <h2
      class="gradient-text text-center font-extrabold tracking-tight text-6xl"
    >
      {title}
    </h2>
  </div>
  <p class="max-w-2xl text-center font-extrabold text-2xl">
    <slot name="lead" />
  </p>
  <slot />
</section>

