---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Empower Your Web3" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    Rotko Networks is the premier infrastructure provider for Web3. Our mission
    is to empower developers, entrepreneurs, and enterprises to build and deploy
    decentralized applications with ease.
    <span class="text-primary">Lightning-fast</span> performance meets <span
      class="text-primary">powerful</span
    > developer tools.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://rotko.net/docs"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Explore our Docs</span>
    </a>
    <a
      href="https://app.rotko.net/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Try our App</span>
    </a>
  </div>
</ContentSection>
