---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import { Picture } from "@astrojs/image/components";
import serverSkotti from "~/assets/server-skotti.webp";
const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---
<ContentSection title="Innovation in Internet Infrastructure" id="intro">
 <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
    <div
      id="serverskotti"
      class="order-2 md:order-1 w-full md:w-2/3 max-w-3xl self-center"
    >
      <Picture
        class="inset-0 h-full w-full object-cover"
        src={serverSkotti}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="Skotti with our hardware"
      />
    </div>
    <div class="order-1 md:order-2">
      <p class="max-w-xl text-center md:text-right font-extrabold text-xl md:text-2xl">
        <Fragment slot="lead"> 
          Redefining the paradigm of internet
          infrastructure, we blend our expertise to deliver
          seamless, high-performance solutions. Our advanced interface harmonizes
          control and monitoring, paving the way for optimal system management.
          With automatic updates and cutting-edge capabilities, we ensure minimal
          downtime and maintain the robustness of the network. We drive to be the 
          defining factor for the new era where state-of-the-art <span class="text-primary">technology</span>
          intersects with unmatched <span class="text-primary">usability</span>,
          empowering everyone to be an integral part of the digital future.
        </Fragment>
      </p>
    </div>
  </div>
  <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
    <a
      href="https://rotko.net/docs"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Explore infra docs</span>
    </a>
    <a
      href="https://status.rotko.net/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="monitor" class="h-8" />
      <span>Endpoint monitoring</span>
    </a>
  </div>
</ContentSection>
