---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const networks: Array<FeatureItem> = [
  {
    title: "Polkadot",
    description:
      "A heteregeneous, scalable, interoperable network designed to secure public compute and communication.",
    icon: "mdi:network",
  },
  {
    title: "Kusama",
    description:
      "An early, highly experimental version of Polkadot presenting real economic conditions.",
    icon: "mdi:rocket",
  },
  {
    title: "Westend Testnet",
    description:
      "A test network to experiment upcoming core features and updates.",
    icon: "mdi:test-tube",
  },
  {
    title: "Paseo Testnet",
    description:
      "A community-led initiative focused on testing and validating new features and updates in a collaborative and open environment.",
    icon: "mdi:flask",
  },
  {
    title: "Hydration",
    description:
      "Exchange features multi-asset omnipool for highly efficient trading.",
    icon: "mdi:water",
  },
  {
    title: "Penumbra",
    description:
      "An interoperable, MEV-minimized exchange designed for privacy-minded users.",
    icon: "mdi:shield",
  },
];
---

<ContentSection title="Networks" id="networks" class="inverted-theme">
  <Fragment slot="lead">
    We run nodes to provide network validation, bootstrapping, block sequencing and network access through <span class="text-primary">latency-optimized</span> endpoints.
    We prioritize networks engineered to function as collaborative protocols for other protocols and organizations.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      networks.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
